@use '../util' as u;

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: u.rem(30);
  
  @include u.breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
  }

  @include u.breakpoint(large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  position: relative;
  overflow: hidden;
  background-color: var(--dark-card);
  color: var(--dark-text1);
  padding: u.rem(25);
  text-align: center;
  border-radius: u.rem(5);

  &__platform {
    height: u.rem(20);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: u.rem(28);
  }

  &--facebook {
    border-top: u.rem(5) solid var(--facebook);
  }
  
  &--twitter {
    border-top: u.rem(5) solid var(--twitter);
  }
  
  &--instagram {
    padding-top: u.rem(30); //5 más que los demás, por el absolute y el height de 5.

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: u.rem(5);
      width: 100%;
      background: linear-gradient(225deg, var(--instagram-end), var(--instagram-middle) 50.91%, var(--instagram-start) 100%);
    }
  }
  
  &--youtube {
    border-top: u.rem(5) solid var(--youtube);
  }

  &__icon {
    margin-right: u.rem(8);

  }

  &__username {
    font-size: u.rem(12);
    font-weight: bold;
  }

  &__count {
    color: var(--light-bg);
    font-weight: bold;
    line-height: 1;
    margin-bottom: u.rem(28);

    &--big {
      font-size: u.rem(56);
    }

    &--small {
    }
  }

  &__label {
    color: var(--dark-text1);
    font-size: u.rem(12);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: u.rem(5);
  }

  &__change {
    font-size: u.rem(12);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: u.rem(4);
    
    &--up {
      // @extend .card__change;
      color: var(--limegreen);
    }
    
    &--down {
      @extend .card__change;
      color: var(--brightred);
    }
  }
}
